body.light {
  background-color: #ffffff;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

body.dark {
  background-color: #101112;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}